h1{
    height: 5vh;
    box-sizing: border-box;
        background-color: rgb(241, 243, 247);;
        text-align: center;
        font-size: xx-large;
}

body{

font-size: xx-large;
    box-sizing: border-box;
    background-color: rgb(213, 229, 252);;
    text-align: center;
}
img{
    height: 50vh;
    text-align: middle;
}
{
    
}